@import "~src/styles/mixins";
@import "~src/styles/variables";

.tooltip_wrapper {
  position: relative;
  display: inline-block;

  .tooltip {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 2000;
    background: $color-2;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-1;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 125%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 0.6rem;
      border-color: $color-2 transparent transparent transparent;
    }
  }
}
