@import '~src/styles/mixins';
@import '~src/styles/variables';

.header {
  width: 100%;
  min-height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1250;

  .container {
    margin: auto;
    width: 100%;
    max-width: $main_container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem 0;

    @include breakpoint(768) {
      padding: 1rem 1rem 0;
    }
    .btns_wrapper {
      display: flex;
      .hamburger_wrapper {
        display: none;
        margin-left: 1rem;
        color: $btn-color;

        @include breakpoint(768) {
          display: block;
        }
      }

      .mobile_btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .search_btn {
          &:active {
            .search_wrapper {
              background: red;
            }
          }
        }
        .search_btn,
        .sign_in_btn {
          display: none;
          margin-right: 1rem;
          color: $btn-color;
          font-size: 1.5rem;
          cursor: pointer;
          background-color: transparent;
          svg {
            @include flex_center();
          }
          &:hover {
            color: $color-1-light;
            transform: scale(1.1);
          }
          &:focus {
            color: $btn-color;
            transform: scale(1);
          }
          @include breakpoint(768) {
            display: block;
          }
        }
      }
      .sign_in_wrapper {
        display: block;
        @include breakpoint(768) {
          display: none;
        }
      }
    }
  }
  .search_wrapper {
    position: fixed;
    width: 100%;
    display: none;
    @include breakpoint(768) {
      display: block;
    }
  }
}
