@import '~src/styles/mixins';
@import '~src/styles/variables';

.action_btns {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;

  .btn {
    background-color: transparent;
    padding: 0.6rem;
    color: $color-1-dark;
    font-weight: 700;
    cursor: pointer;
    
    &:hover {
      color: $color-1;
      scale: 1.1;
    }
  }
  
  .fill_icon {
    svg {
      fill: $color-1-dark;
      color: $color-1;
    }
  }
  
  .rating {
    width: 3rem;
    height: 3rem;
    @include flex_center();
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1rem;
    color: $color-1;
    border: 3px solid $color-1-dark;
    border-radius: 50%;

    span {
      color: $color-1-light;
    }
  }
}
