@import '~src/styles/mixins';
@import '~src/styles/variables';

.movie_card {
  display: flex;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow: hidden;

  .movie_card_wrapper {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: rgba(0, 0, 0, 0.3);

    .poster_wrapper {
      width: 100%;
      overflow: hidden;
      position: relative;

      .poster {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        z-index: 999;
        cursor: pointer;
      }

      .btns {
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 2rem 0 0 0;

        .btn {
          background-color: transparent;
          color: $color-1;
          padding: 1rem 3rem;
          border: 2px solid $color-1;
          border-radius: 2rem;
          cursor: pointer;
          font-weight: 800;
          letter-spacing: 0.1rem;
          color: $color-1-light;
          transition: all 0.3s ease-in-out;
          &:hover {
            scale: 1.1;
          }
        }
      }

      &:hover {
        .btns {
          display: flex;
          @include breakpoint(768) {
            display: none;
          }
        }

        .poster {
          opacity: 0.1;
          transform: scale(1.1);
          @include breakpoint(768) {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:1rem 1rem 0;

      .title {
        line-height: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: $color-1-light;
      }
    }
  }
}
