@import '~src/styles/mixins';
@import '~src/styles/variables';

.person_details {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  background-color: $card-bg-color;
  margin-top: -10rem;
  height: auto;
  .backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(3px);
  }
  .left_column {
    display: flex;
    flex-direction: column;
    background: rgba($color: #000000, $alpha: 0.2);
    border-radius: 0.5rem;

    .poster_wrapper {
      width: 100%;
      height: 380px;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
  .right_column {
    padding: 0 2rem 1rem;
    display: flex;
    flex-direction: column;
   
  }
}

.no_credits,
.no_bio {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: $color-1;
  margin-top: 1rem;
}
