@import "src/styles/mixins";
@import "src/styles/variables";

.search_bar {
    background: rgba($color: #000000, $alpha: 0.3);
    width: $main_container;
    margin: auto;
    padding: 2rem 1rem;
    .search_input {
        width: 100%;
        padding: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 1rem;
        color: $color-1;
        font-size: 1rem;
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border: none;
        outline: none;
        transition: all ease-in-out 200ms;
        &::placeholder {
            font-size: inherit;
            font-family: inherit;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $color-1;
        }
        &:focus {
            background-color: rgba($color: #000000, $alpha: 0.3);
            &::placeholder {
                color: transparent;
            }
        }
    }
}
