@import "src/styles/mixins";
@import "src/styles/variables";

.rating_popup {
    position: absolute;
    background-color: #0d2028;
    width: 15rem;
    transform: translate(-45%, -105%);
    border-radius: 0.8rem;
    z-index: 3000;
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.6);
    .rating_popup_wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        .rating_popup_header {
            text-align: center;
            .title {
                font-size: 0.7rem;
                font-weight: 700;
                letter-spacing: 0.1rem;
                color: $color-1-light;
            }
        }
        .rating_popup_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            margin-top: 1rem;
            padding: 0 1rem;

            .rating_popup_stars {
                display: grid;
                place-content: center;
                grid-template-columns: repeat(5, 1fr);
                width: 100%;
                gap: 0.5rem;
                .star_wrapper {
                    @include flex_center();
                    position: relative;
                    .star {
                        stroke: transparent;
                        cursor: pointer;
                    }
                    .star_number {
                        @include flex_center();
                        position: absolute;
                        z-index: 1;
                        font-size: 0.7rem;
                        font-weight: 700;
                        color: $color-2;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 99%;
        left: 50%;
        border: solid 0.5rem;
        border-color: #0d2028 transparent transparent transparent;
    }
}
