@import '~src/styles/mixins';
@import '~src/styles/variables';

.frame {
  width: 100%;
  height: 100%;
  @include flex-center;


  .image {
    width: 100%;
    object-fit: cover;
  }
  .no_image {
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22);
    @include flex_center;
    color: rgb(97, 97, 97);

    svg {
      width: 4rem;
      height: 2rem;
    }
  }
}
