@import "src/styles/mixins";
@import "src/styles/variables";

.movie_card {
  position: relative;
  display: flex;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  
  .movie_card_wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    
    .poster_wrapper {
      border-radius: 1rem 1rem 0 0;
      background-color: rgba(0, 0, 0, 0.3);
      overflow: hidden;
      position: relative;
      
      .poster {
        opacity: 1;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
        transition: transform 0.5s ease;
        width: 100%;
        height: 100%;
      }
      .btns {
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        inset: 10% 0 0 0;

        .btn {
          background-color: transparent;
          color: $color-1;
          padding: 0.5rem 2rem;
          border: 2px solid $color-1;
          border-radius: 2rem;
          cursor: pointer;
          font-weight: 700;
          letter-spacing: 0.1rem;
          color: $color-1-light;
          transition: all 0.3s ease-in-out;
          &:hover {
            scale: 1.1;
          }
        }
      }
      &:hover {
        .btns {
          display: flex;
          width: 100%;
          @include breakpoint(768) {
            display: none;
          }
        }

        .poster {
          opacity: 0.1;
          transform: scale(1.1);
          @include breakpoint(768) {
            opacity: 1;
            transform: scale(1);
          }
        }
        .opacity_set {
          opacity: 1;
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 0.8rem;

      .title {
        line-height: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: $color-1;
        padding: 0.8rem 0;
      }
      .action_btns{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
