@import "src/styles/mixins";
@import "src/styles/variables";

.profile_header {
    max-width: $main_container;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        background: $card-bg-color;
        padding: 1rem 2rem;
        .title {
            text-wrap: nowrap;
            font-weight: 800;
            font-size: 2rem;
            letter-spacing: 0.1rem;

            @include text_gradient();

            @include breakpoint(768) {
                font-size: 1.5rem;
            }
        }
    }
}
