@import '~src/styles/mixins';
@import '~src/styles/variables';

.dashboard{
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}