@import "src/styles/mixins";
@import "src/styles/variables";

.quick_view {
  border-radius: 0 1rem 1rem 0;
  width: 30rem;
  @include breakpoint(768) {
    display: none;
  }
  .quick_view_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1.4rem 1rem;
    .close_btn {
      align-self: flex-end;
      padding: 0.5rem;
      background-color: transparent;
      color: $color-1;
      cursor: pointer;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      @include text_gradient;
    }
    .overview {
      margin-top: 1rem;
      font-size: 0.9rem;
      line-height: 1.2rem;
      letter-spacing: 0.1rem;
      color: $color-1-light;
      height: 18rem;
    }
    .genres {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      .genre {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: $color-3-light;
      }
    }
    .additional_info {
      margin-top: auto;
      align-self: flex-end;
      text-align: right;
      .release_date,
      .last_air_date,
      .season_numbers {
        padding: 0.5rem 0 0;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: $color-3-light;
      }
    }
  }
}
