@import 'src/styles/mixins';
@import 'src/styles/variables';

.quick_view {
  border-radius: 0 1rem 1rem 0;
  width: 30rem;
  @include breakpoint(768) {
    display: none;
  }
  .quick_view_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    .close_btn {
      align-self: flex-end;
      padding: 0 1rem;
      background-color: transparent;
      color: $color-1;
      cursor: pointer;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      @include text_gradient;
    }
    .overview {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
      color: $color-1-light;
    }
    .genres {
      display: flex;
      gap: 1rem;
      .genre {
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: $color-3-light;
      }
    }
    .release_date {
      padding: 1rem 0;
      margin-top: auto;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
      color: $color-3-light;
    }
  }
}
