@import 'variables';

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-montserrat;
  background-image: linear-gradient(to left bottom, #4e2c3f, #452b40, #3b2a40, #31293f, #28283c, #252e42, #223448, #1e3a4c, #1b4a5b, #195a67);
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

h4 {
  font-size: 0.5rem;
  font-weight: normal;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
