@import 'variables';

// media queries   /////////////////////////////////////////////////
@mixin breakpoint($point) {
  @if $point==1400 {
    @media (max-width: 1400px) {
      @content;
    }
  }

  @if $point==1024 {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $point==768 {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $point==480 {
    @media (max-width: 480px) {
      @content;
    }
  }
}

//layout   ///////////////////////////////////////////////////////
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ui    /////////////////////////////////////////////////////////

@mixin text_gradient() {
  color: #1eb381;
  background-image: -webkit-linear-gradient(45deg, #1eb381 25%, #1e8db3 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
