@import 'src/styles/mixins';
@import 'src/styles/variables';

.signin_page {
  @include flex_center();
  width: 100%;
  min-height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 25rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    .title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-1-light;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem;
    }
    .divider {
      display: flex;
      align-self: center;
      padding: 2rem;
      color: $color-1-light;

      span {
        padding: 0 10px;
        position: relative;
        font-weight: 600;

        &:first-child::before,
        &:last-child::after {
          content: '';
          position: absolute;
          height: 3px;
          background: rgba($color: #000000, $alpha: 0.2);
          top: 50%;
          width: 12rem;
        }

        &:first-child::before {
          right: 20%;
        }

        &:last-child::after {
          left: 20%;
        }
      }
    }
    .signup_ref{
      margin-top: 1rem;
      text-align: center;
      color: $color-1;
      a{
        color: $color-3-light;
      }
    }
  }
}
