@import '~src/styles/mixins';
@import '~src/styles/variables';

.search {
  position: relative;
  margin-top: 3rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;

  @include breakpoint(768) {
    display: none;
  }
  .results {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1200;
    overflow: hidden;
    .loading_wrapper {
      padding: 2rem;
    }
  }
  .no_results {
    @include flex_center;
    width: 100%;
    height: 6rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: $color-1;
    gap: 1rem;
  }
}
.input_extended {
  width: 100%;
  max-width: $main_container;
}
.input_shrinked {
  width: 40rem;
}
