@import '~/styles/mixins';

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;

  .hero_image {
    object-fit: cover;
    filter: opacity(0.2);

    @include breakpoint(768) {
      transform: translateX(-12rem);
    }
  }

  .hero_overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;

    .hero_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
   

      .hero_title_wrapper {
        display: flex;
        gap: 2rem;

        @include breakpoint(1024) {
          flex-direction: column;
          gap: 0;

        }

        .hero_title {
          font-size: 5rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          @include text_gradient();

          @include breakpoint(1024) {
            text-align: center;
            font-size: 5rem;
          }

          @include breakpoint(480) {
            font-size: 4rem;
          }
        }
      }

      .hero_subtitle {
        font-size: 1.7rem;
        font-weight: 500;
        color: $color-1;
        text-align: center;

        @include breakpoint(480) {
          text-align: center;
          font-size: 1.5rem;
        }
      }

      .search {
        position: relative;
        margin-top: 3rem;
        height: 2.5rem;
        width: 30rem;

        @include breakpoint(480) {
          display: none;
        }
      }
    }
  }
}