@import "~/styles/variables";
@import "~/styles/mixins";

.trending {
  max-width: $main_container;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  margin-top: 8rem;
  padding: 2rem;

  .header {
    margin-bottom: 2rem;

    .title {
      width: fit-content;
      font-weight: 800;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
      @include text_gradient();
    }
  }

  .movies_slider {
    display: flex;
    grid-gap: 1rem;

    .movie_card {
      position: relative;

      .image {
        border-radius: 1rem;
        width: 15rem;
        height: auto;
      }
    }
  }


}