@import "~src/styles/mixins";
@import "~src/styles/variables";

.movies_display {
  max-width: $main_container;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  margin-top: 8rem;
  padding: 2rem;

  .header {
    margin-bottom: 2rem;

    .title {
      width: fit-content;
      font-weight: 800;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
      @include text_gradient();
    }
  }
}