@import 'src/styles/mixins';
@import 'src/styles/variables';

.menu {
  width: 100%;
  display: flex;
  margin-left: 2rem;

  @include breakpoint(768) {
    display: none;
  }

  .menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .menu_item {
      .link {
        display: block;
        padding: 0.5rem;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        font-weight: 600;
        color: $color-3-light;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $color-1-light;
        }
        &:focus {
          color: $color-1;
          font-size: 1.4rem;
        }
      }
    }
  }
}
