@import "src/styles/mixins";
@import "src/styles/variables";

.action_btns {
  display: flex;
  padding: 0 0 1rem;
  width: 100%;

  .ratings_container {
    display: flex;
    align-items: center;
    .average_rating {
      @include flex_center();
      width: 2.9rem;
      height: 2.9rem;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 0.9rem;
      color: $color-1;
      border: 3px solid $color-1;
      border-radius: 50%;
    }
    .user_rating {
      @include flex_center();
      width: 2.2rem;
      height: 2.2rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: $color-1-light;
      border: 3px solid $color-1;
      border-radius: 50%;
      background-color: $color-1-dark;
    }
    span {
      color: $color-1;
    }
  }
  .btns_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
      background-color: transparent;
      padding: 0.5rem;
      color: $color-1-dark;
      font-weight: 700;
      font-family: inherit;
      cursor: pointer;

      &:hover {
        color: $color-1;
        scale: 1.1;
      }
    }

    .fill_icon {
      svg {
        fill: $color-1-dark;
        color: $color-1;
      }
    }
  }
}
