@import "src/styles/mixins";
@import "src/styles/variables";

.list {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    max-width: $main_container;
    min-height: 35rem;
    margin: auto;
    overflow-x: hidden;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);

    @include breakpoint(768) {
        padding: 2rem 1rem;
    }

    .no_favorites {
        padding: 1rem 2rem;
        color: $color-1;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    .wrapper {
        display: grid;
        justify-items: start;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        @include breakpoint(1400) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include breakpoint(1024) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint(768) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(480) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
