@import '~src/styles/mixins';
@import '~src/styles/variables';

.hero {
  position: relative;
  height: 40rem;
  @include breakpoint(1400) {
    height: 90vh;
  }
  .hero_image {
    object-fit: cover;
    filter: opacity(0.2);
    @include breakpoint(480) {
      object-position: 5%;
    }
  }

  .hero_overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;

    .hero_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem;

      .hero_title_wrapper {
        display: flex;
        gap: 2rem;

        @include breakpoint(1024) {
          flex-direction: column;
          gap: 0;
        }

        .hero_title {
          font-size: 5rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          @include text_gradient();

          @include breakpoint(1024) {
            text-align: center;
            font-size: 5rem;
          }

          @include breakpoint(480) {
            font-size: 4rem;
          }
        }
      }

      .hero_subtitle {
        font-size: 1.7rem;
        font-weight: 500;
        color: $color-1;
        text-align: center;

        @include breakpoint(480) {
          text-align: center;
          font-size: 1.5rem;
        }
      }
      .search_wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        @include breakpoint(768) {
          display: none;
        }
      }
    }
  }
}
