@import "~src/styles/mixins";
@import "~src/styles/variables";

.dashboard_menu {
    width: 100%;
    margin: auto;
    background-color: $card-bg-color;
    height: 3rem;
    // @include breakpoint(768) {
    //     overflow-x: scroll;
    //     &::-webkit-scrollbar {
    //         display: none;
    //     }
    // }
    .list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        max-width: $main_container;
        margin: auto;
        padding: 0 1rem;
        gap: 2rem;
        .item {
            @include flex_center();
            color: $color-1;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            padding: 0 1rem;
            height: 100%;
            position: relative;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                color: $color-1-light;
            }
            .subcategory_list {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #1d1926;
                z-index: 1;
                .subcategory_item {
                    text-wrap: nowrap;
                    padding: 1rem 1rem;
                    cursor: pointer;
                    a {
                        color: $color-1;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                        a {
                            color: $color-1-light;
                        }
                    }
                }
            }
        }
    }
}
