@import "src/styles/mixins";
@import "src/styles/variables";

.dashboard_menu {
    display: flex;
    @include breakpoint(768) {
        position: relative;
    }
    .wrapper {
        padding: 0 1rem;
        width: 100%;
        display: flex;
        margin: auto;
        background-color: rgba($color: #000000, $alpha: 0.3);
        height: 3rem;
        margin-bottom: 2rem;

        .swipe_icon_wrapper {
            display: none;
            @include breakpoint(768) {
                display: block;
            }
        }
        .list {
            width: 100%;
            height: 100%;
            max-width: $main_container;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            gap: 2rem;
            mask: none;
            z-index: 1000;
            &::-webkit-scrollbar {
                height: 0;
            }
            @include breakpoint(768) {
                mask: linear-gradient(to right, black 0px, black 70%, transparent);
                overflow: scroll;
            }
            .item {
                position: relative;
                @include flex-center();
                color: $color-1;
                font-size: 1.1rem;
                font-weight: 600;
                cursor: pointer;
                height: 100%;
                width: 100%;
                @include breakpoint(768) {
                    position: static;
                    &:last-child {
                        padding-right: 4rem;
                    }
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    color: $color-1-light;
                }
            }
            .subcategory_list {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(10px);
                box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
                width: 100%;

                .subcategory_item {
                    text-wrap: nowrap;
                    cursor: pointer;
                    a {
                        display: block;
                        padding: 1rem;
                        color: $color-1;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                        a {
                            color: $color-1-light;
                        }
                    }
                }
            }
        }
    }
    .mobile_subcategory_list {
        width: 100%;
        position: absolute;
        top: 3rem;
        z-index: 1000;


        .subcategory_list {
            top: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);

            .subcategory_item {
                text-wrap: nowrap;
                cursor: pointer;
                a {
                    font-size: 1rem;
                    font-weight: 600;
                    display: block;
                    padding: 1rem;
                    color: $color-1;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    a {
                        color: $color-1-light;
                    }
                }
            }
        }
    }
}
