@import "src/styles/mixins";
@import "src/styles/variables";

.stats_container {
    max-width: $main_container;
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include breakpoint(768) {
        grid-template-columns: repeat(1, 1fr);
    }
    .stat_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $card-bg-color;
        padding: 0.7rem 1rem;
        @include breakpoint(480) {
           
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }
        .title {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            font-weight: 700;
            color: $color-1;
            @include breakpoint(480) {
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}
