@import "~src/styles/mixins";
@import "~src/styles/variables";

.stats {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 2rem 0 7rem;
    padding: 0;
    @include breakpoint(1024) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(768) {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .stat {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $card-bg-color;
        padding: 1rem;
        .title {
            width: 7rem;
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            font-weight: 700;
            color: $color-1;
        }
    }
}
