@import "src/styles/mixins";
@import "src/styles/variables";

.sublist {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: $card-bg-color;
    .sublist_table {
        width: 100%;
        table-layout: fixed;
        thead {
            th {
                width: 25%;
                width: 100%;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                color: $color-3-light;
                padding-bottom: 0.8rem;
                border-bottom: 1px solid $color-3;
            }
        }
        tbody {
            td {
                width: 25%;
                padding: 0.8rem;
                border-bottom: 1px solid $color-3;
                color: $color-3-light;

                // Additional styling for table data cells
            }
        }
    }
}
