@import "src/styles/mixins";
@import "src/styles/variables";

.content_display {
  max-width: $main_container;
  min-height: 39rem;
  margin: 0 auto;
  background-color: $card-bg-color;
  backdrop-filter: blur(10px);
  padding: 2rem;
  transform: translateY(-5rem);
  @include breakpoint(768) {
    padding: 1rem;
  }

  .header {
    margin-bottom: 2rem;

    .title {
      width: fit-content;
      font-weight: 800;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
      @include text_gradient();
      @include breakpoint(768) {
        font-size: 1.5rem;
      }
    }
  }
  .content {
    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $color-3-light;
    }
  }
}
