@import "src/styles/mixins";
@import "src/styles/variables";

.logo {
  @include flex_center();
  width: 8.8rem;
  height: 3rem;
  cursor: pointer;
  position: relative;

  @include breakpoint(768) {
    font-size: 1.5rem;
  }
  .image {
    object-fit: cover;
  }
}
