@import "src/styles/mixins";
@import "src/styles/variables";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  position: relative;

  @include breakpoint(768) {
    font-size: 1.5rem;
  }
  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
