@import "src/styles/mixins";
@import "src/styles/variables";

.slider {
  display: flex;
  mask: linear-gradient(to right, black 90%, transparent);
  overflow-x: hidden;
  height: 33rem;

  .no_content {
    padding: 1rem;
    color: $color-1;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .slide {
    display: flex;
    width: 16rem;
  }
  .last_slide {
    display: flex;
    height: 33rem;
    width: 16rem;
    @include flex-center();
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    .btn_more,
    .link {
      background-color: transparent;
      color: $color-1;
      padding: 0.5rem 2rem;
      border: 2px solid $color-1;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: $color-1-light;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
