@import "~src/styles/mixins";
@import "~src/styles/variables";

.slider {
  display: flex;
  mask: linear-gradient(to right, black 90%, transparent);
  overflow-x: hidden;
  .slide {
    display: flex;
    width: 46;
  }
  .last_slide {
    display: flex;
    height: 100%;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    .btn_more,
    .link {
      background-color: transparent;
      color: $color-1;
      padding: 0.5rem 2rem;
      border: 2px solid $color-1;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: $color-1-light;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
